{% extends "base_apps.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Domains{% endblock title %}
{% block content %}
<style>

.dom
{
	
	background-color: #efefef;
    
}

.dom .row
{
    margin-left: 30px;
	border-radius: 5px;
	
    margin-top: 5px;
    margin-bottom: 5px;
}
#col3-navbar
{
    border-radius: 5px;
    background-color: white;
    width: 900px;
    margin-left: 310px;
    margin-top: -220px;
    font-size: 14px;
    
}
 .col2
{
    margin-left: 20px;
}
 .col3
{
    border-radius: 5px;
    background-color: white;
    width: 300px;
    margin-left: -5px;
    margin-top: -10px;
    margin-bottom: -10px;
  
}
.col2 .btn
{
    padding: 3px;
    width: 250px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-color: black;
    
}

li{
    list-style: none;
}
.nav-item a:hover {
  
  color: black;
}

</style>
<div class="dom">
    <br/>
   <div class="row" >
    <br/>
        
            <div class="col3">
                <br>
                <div class="col2">
                   
                    <ul class="nav nav-tabs main-nav">
                        {% for myDomains in dom %}
                        <li class="nav-item"><a href="" class="btn btn-outline-primary">{{ myDomains.description }}</a></li>
                        {% endfor %}
                    </ul>
                    
                   
                </div>
                <br>
            </div>
        
 
        
            <div class="col3" id="col3-navbar">
                <div class="col2">

                    <nav id="navigation"  style="font-weight: bold;">
                        <ul class="nav nav-tabs main-nav">
                          
                           <li class="nav-item">
                            <div class="nav-link active"  id="posts">Posts</div>
                          </li>
                          
                          <li class="nav-item">
                            <div class="nav-link" id="articles">Articles</div>
                          </li>
                          
                          <li class="nav-item">
                            <div class="nav-link" id="pictures">Pictures</div>
                          </li>
                          <li class="nav-item">
                            <div class="nav-link" id="network">Network</div>
                          </li>
                       
                        </ul>
                        </nav>
                        <div class="container">
                            <br>
                         
                        </div>

                </div>
            </div>
            
      
       
   </div>
   <br>

</div>
{% endblock content %}