{% extends "base_logins.html" %}


{% block content %}
<div class="form-group" style=" color: maroon;margin-top: 50px;margin-bottom: 30px;margin-left: 650px;font-size: 25px;font-weight:bold;">
    <p >SoftGeeks</p>

</div>
  <div class="alert alert-info" style="margin-top: 10px;margin-left:500px;width:500px;height:40px;">
        Your password has been set, you can now log in
        </div>
       <div class="row" style="margin-top: 10px;margin-left:600px;">
        <div class="col3">
             <div class="col2">
                  <div class="form-group" >
           <p>Password recovered?</p>
                 </div>
                  </div>
        </div>
         <div class="col3">
            <div class="col2">
                 <div class="form-group" >
                <a href="{%url 'login_page' %}" style="margin-left:20px;color:blue;font-weight:bold;">Sign in</a>
                     </div>
            </div>
           </div>
            </div>


{% endblock content %}
