{% extends "base_logins.html" %}


{% block content %}
<div class="form-group" style=" color: maroon;margin-top: 50px;margin-bottom: 30px;margin-left: 500px;font-size: 25px;font-weight:bold;">
    <p >SoftGeeks</p>

</div>
  <div class="alert alert-info" style="margin-top: 10px;margin-left:250px;width:700px;height:70px;">
        If the email address you entered, is associated with an account in our records,
      you will receive an email from us with instructions for resetting your password. Check your inbox
        </div>



{% endblock content %}
